body {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 960px;
    font-family: "Roboto", Helvetica Neue, sans-serif;
}

/* index.html */
.container {
    grid-template-rows: repeat(1, 1fr);
    width: 600px;
    margin-top: 470px;
    margin-left: 530px;
    text-align: right;
}

h2,
p {
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 25px;
}

h2 {
    font-size: 36px; 
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.btn-container {
    margin-top: 25px;
}

.btn {
    padding: 10px 25px;
    border: solid #323232 2px;
    margin-left: 30px;
    font-size: 16px;
}

/* nav css */
.nav-row {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin-bottom: 20px;
    font-size: 20px;
}

.navigation,
.nav-link {
    padding-left: 20px;
    text-align: right;
}

a {
    text-decoration: none;
}

/* works.html */

.work-container,
.about-container {
    font-size: 18px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:  15px;
    margin-bottom: 20px;

}



/* about.html */

.content-about {
    display: grid;
    grid-template-columns: auto minmax(50%, 50%); 
    grid-column-gap: 30px;
    margin-top: 70px;
}

.about-content p {
    text-align: center;
    margin-right: 15px;
    padding: 15px;
}




